property-viewer-states/find-building.json
{
  "StartAt": "FindBuilding",
  "States": {
    "FindBuilding": {
      "Type": "Task",
      "InputPath": "$.uprn",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "building"
      },
      "ResultPath": "$.building",
      "Next": "SetOccupancyRange"
    },
    "SetOccupancyRange": {
      "Type": "Task",
      "Resource": "module:runFunction",
      "ResourceConfig": {
        "functionName": "setOccupancyRange"
      },
      "Next": "FormatBuildingResults"
    },
    "FormatBuildingResults": {
      "Type": "Pass",
      "Parameters": {
        "key": "building",
        "value.$": "$.building"
      },
      "ResultPath": "$",
      "End": true
    }
  }
}
